html{
    height: 100%;

    overflow: hidden;
    box-sizing: border-box;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    height: inherit;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #dcdcdc;

    font-family: 'Dosis', 'sans-serif';
    font-display: swap;
}

.wrapper{

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.showBar,
.inputBar{
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 1px 5px #bbb;
    padding: 20px;
    font-size: 60px;
}

.showBar{
    padding: 30px;
}

.gradeButtons{
    display: flex;
    flex-direction: column;
}

.numberButtonRow{
    display: flex;
    flex-direction: column;

    /* justify-content: space-between; */
}

.numberButtons{
    display: flex;
}

.sendButton,
.gradeButton,
.numberButton{

    width: 120px;

    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    margin: 10px;
    border-radius: 5px; /* 圓角 */
    padding: 10px; /* 內邊距 */
    font-size: 50px; /* 字體大小 */
    cursor: pointer; /* 鼠標指針 */
    transition: background-color 0.5s; /* 漸變效果 */
}

.sendButton:hover,
.gradeButton:hover,
.numberButton:hover {
    background-color: #000;
    color: #fff;
}

.gradeButton{
    width: 200px;
    font-size: 32px; /* 字體大小 */
}

.gradeBar{
    display: flex;
    width: 20%;
}

.numberBar{
    display: flex;
    width: 50%;
}

.sendButton{
    width: 200px;
    font-size: 30px;
    margin: 0;
}